In [ ]:
Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
rating = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
total = rating.merge(movies, how='left', on='movieId')
thebest = total[total['rating'].isin(['5.0'])].title.value_counts()
thebest.head(1)

Shawshank Redemption, The (1994)    39553
Name: title, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [55]:
stroke = pd.read_csv('power.csv')
stroke.head()
name_filters = stroke[stroke['country'].isin(['Latvia', 'Lithuania', 'Estonia'])]
category_filters = name_filters[name_filters['category'].isin([4, 12, 21])]
years_filters = category_filters[category_filters['year'].isin([2005, 2006, 2007, 2008, 2009, 2010])]
quantity_filters = years_filters[years_filters['quantity'] >= 0]
quantity_filters.quantity.sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [64]:
data = pd.read_html('https://fortrader.org/currencyrates', encoding='utf-8')[0]
data.head()

   Код  Количество           Название       RUB  Изменение
0  USD           1         Доллар США   73.5081     0.0085
1  EUR           1               Евро   87.7981     0.0396
2  CNY           1     Китайский юань   11.3015    -0.0185
3  GBP           1    Фунт стерлингов  102.4997    -0.0102
4  TJS          10  Таджикский сомони   64.5091     0.0075