In [2]:
import pandas as pd
import numpy as np
import requests

## Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [284]:
data = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', na_values='?')
data

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
295,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
296,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
297,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
298,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [285]:
data.columns = [
    'surgery', 'age', 'hospital_number', 'rectal_t', 'pulse', 'respiratory_rate', 'extremities_t',
    'peripheral_pulse', 'mucous_membranes', 'capillary_time', 'pain', 'peristalsis', 'abdominal_distension', 
    'nasogastric_tube', 'reflux', 'reflux_PH', 'rectal_examination', 'abdomen', 'packed_volume', 
    'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_protein', 'outcome', 'surgical_lesion', 
    'lesion1', 'lesion2', 'lesion3', 'cp_data',
]

In [286]:
data_column = data.drop(
    ['hospital_number', 
     'peripheral_pulse', 
     'mucous_membranes', 
     'capillary_time', 
     'peristalsis', 
     'abdominal_distension', 
     'nasogastric_tube', 
     'reflux', 
     'reflux_PH', 
     'rectal_examination', 
     'abdomen', 
     'packed_volume', 
     'total_protein', 
     'abdominocentesis_appearance', 
     'abdomcentesis_protein', 
     'surgical_lesion', 
     'lesion1', 
     'lesion2', 
     'lesion3', 
     'cp_data'
    ], axis = 1)
data_column.head(5)

,surgery,age,rectal_t,pulse,respiratory_rate,extremities_t,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0

## Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

- Уникальные значения столбцов

In [287]:
data_column['age'].unique()

array([1, 9], dtype=int64)

In [288]:
data_column['surgery'].unique()

array([ 1.,  2., nan])

In [289]:
data_column['rectal_t'].unique()

array([39.2, 38.3, 39.1, 37.3,  nan, 37.9, 38.1, 37.2, 38. , 38.2, 37.6,
       37.5, 39.4, 39.9, 38.4, 38.6, 37.8, 37.7, 39. , 35.4, 38.9, 37.4,
       40.3, 38.5, 37. , 39.7, 38.7, 36.4, 38.8, 39.6, 36.8, 39.5, 36.5,
       36. , 37.1, 39.3, 36.1, 36.6, 40.8, 36.9, 40. ])

In [290]:
data_column['pulse'].unique()

array([ 88.,  40., 164., 104.,  nan,  48.,  60.,  80.,  90.,  66.,  72.,
        42.,  92.,  76.,  96., 128.,  64., 110., 130., 108., 100., 112.,
        52., 146., 150., 120., 140.,  84.,  46., 114., 160.,  54.,  56.,
        38.,  98.,  50.,  44.,  70.,  78.,  49.,  30., 136., 132.,  65.,
        86., 129.,  68.,  36.,  45., 124., 184.,  75.,  82.])

In [291]:
data_column['respiratory_rate'].unique()

array([20., 24., 84., 35., nan, 16., 36., 12., 52., 28., 48., 21., 60.,
       34., 42., 30., 96., 72., 15., 44., 32., 22., 18., 80., 40., 10.,
       51., 68., 66.,  9., 14., 90.,  8., 23., 58., 13., 70., 26., 88.,
       25., 50.])

In [292]:
data_column['extremities_t'].unique()

array([nan,  1.,  4.,  2.,  3.])

In [293]:
data_column['pain'].unique()

array([ 3.,  2., nan,  4.,  5.,  1.])

### - respiratory_rate в этом столбце значения указаны в десятках, в то время как в описании норма 8-10. То есть надо данный столбец разделить на 10.
### - age тут явная ошибка, вместо 2 стоит 9. По описанию в этом столбце есть значения 1 и 2. В нашей таблице 1 и 9. То есть 9 заменить на 2.
### - По остальным на первый взгляд нет ошибок.

#### Пересчет столбцов указанных выше 'respiratory_rate', 'age'

In [294]:
data_column['respiratory_rate'] = data_column['respiratory_rate'] / 10

In [295]:
#data_column.head()

In [296]:
data_column.loc[(data_column.age > 1), 'age'] = 2

In [297]:
#data_column.sort_values('age')

## Расчет базовых статистик

In [298]:
data_column.describe()

,surgery,age,rectal_t,pulse,respiratory_rate,extremities_t,pain,outcome
count,298.000000,299.000000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.080268,38.166527,71.934545,3.042739,2.345679,2.942623,1.550336
std,0.489881,0.272162,0.733508,28.680522,1.767826,1.046369,1.303993,0.737967
min,1.000000,1.000000,35.400000,30.000000,0.800000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,1.800000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,2.400000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,3.600000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,9.600000,4.000000,5.000000,3.000000

# Выбросы по столбцам

In [299]:
# выбросы в surgery
q1 = data_column['surgery'].quantile(0.25)
q3 = data_column['surgery'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_column[data_column['surgery'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers
pd.concat([data_column, remove_outliers]).drop_duplicates(keep=False)

D:\ANACONDA\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  import sys

,surgery,age,rectal_t,pulse,respiratory_rate,extremities_t,pain,outcome
131,NaN,1,38.0,48.0,2.0,3.0,4.0,NaN

q1 = data_column['age'].quantile(0.25)
q3 = data_column['age'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
remove_outliers_1 = data_column[data_column['age'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([data_column, remove_outliers_1]).drop_duplicates(keep=False)

In [300]:
q1 = data_column['rectal_t'].quantile(0.25)
q3 = data_column['rectal_t'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_2 = data_column[data_column['rectal_t'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([data_column, remove_outliers_2]).drop_duplicates(keep=False).sort_values('rectal_t')

D:\ANACONDA\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.

,surgery,age,rectal_t,pulse,respiratory_rate,extremities_t,pain,outcome
43,1.0,1,35.4,140.0,2.4,3.0,4.0,3.0
140,2.0,1,36.0,42.0,3.0,NaN,NaN,2.0
237,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
79,1.0,1,36.4,98.0,3.5,3.0,4.0,2.0
117,1.0,1,36.5,78.0,3.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
253,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
264,2.0,1,NaN,56.0,6.8,3.0,3.0,3.0
273,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
292,1.0,1,NaN,78.0,2.4,3.0,NaN,3.0
294,1.0,1,NaN,120.0,7.0,4.0,2.0,3.0

In [301]:
q1 = data_column['pulse'].quantile(0.25)
q3 = data_column['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_3 = data_column[data_column['pulse'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([data_column, remove_outliers_3]).drop_duplicates(keep=False).sort_values('pulse')

D:\ANACONDA\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.

,surgery,age,rectal_t,pulse,respiratory_rate,extremities_t,pain,outcome
40,2.0,2,39.0,150.0,7.2,NaN,NaN,1.0
274,1.0,2,38.8,150.0,5.0,1.0,5.0,2.0
54,1.0,2,38.6,160.0,2.0,3.0,3.0,2.0
2,1.0,2,39.1,164.0,8.4,4.0,2.0,2.0
254,1.0,2,38.8,184.0,8.4,1.0,4.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
57,1.0,1,NaN,NaN,2.0,4.0,5.0,2.0
73,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
114,2.0,1,NaN,NaN,4.0,3.0,3.0,1.0
116,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
125,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
150,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
158,2.0,1,NaN,NaN,1.2,1.0,2.0,1.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
173,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
203,1.0,1,39.2,NaN,2.3,3.0,4.0,1.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
226,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0

In [302]:
q1 = data_column['respiratory_rate'].quantile(0.25)
q3 = data_column['respiratory_rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_4 = data_column[data_column['respiratory_rate'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([data_column, remove_outliers_4]).drop_duplicates(keep=False).sort_values('respiratory_rate')

D:\ANACONDA\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.

,surgery,age,rectal_t,pulse,respiratory_rate,extremities_t,pain,outcome
119,1.0,1,39.4,54.0,6.6,1.0,2.0,1.0
102,1.0,2,38.0,140.0,6.8,1.0,3.0,1.0
124,1.0,1,38.0,42.0,6.8,4.0,3.0,1.0
264,2.0,1,NaN,56.0,6.8,3.0,3.0,3.0
228,1.0,2,38.5,120.0,7.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...
255,1.0,1,37.5,72.0,NaN,2.0,2.0,3.0
270,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
273,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
280,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
283,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0

In [303]:
#Удаляем по 1-й строке со значением NAN из столбцов outcome, surgery. Одна строка не исказит статистику в данном случае.
data_column[['surgery', 'outcome']].dropna()

     surgery  outcome
0        1.0      3.0
1        2.0      1.0
2        1.0      2.0
3        2.0      2.0
4        2.0      1.0
..       ...      ...
294      1.0      3.0
295      2.0      3.0
296      1.0      2.0
297      1.0      1.0
298      1.0      3.0

[298 rows x 2 columns]

In [304]:
data_column.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   surgery           298 non-null    float64
 1   age               299 non-null    int64
 2   rectal_t          239 non-null    float64
 3   pulse             275 non-null    float64
 4   respiratory_rate  241 non-null    float64
 5   extremities_t     243 non-null    float64
 6   pain              244 non-null    float64
 7   outcome           298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

## Замена значений NAN столбца rectal_t

In [305]:
data_column['rectal_t'].describe()

count    239.000000
mean      38.166527
std        0.733508
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal_t, dtype: float64

In [306]:
rectal_t_mode = data_column['rectal_t'].fillna(data_column['rectal_t'].mode()[0], inplace=True)
data_column['rectal_t'].describe()

count    299.000000
mean      38.133110
std        0.658915
min       35.400000
25%       37.900000
50%       38.000000
75%       38.500000
max       40.800000
Name: rectal_t, dtype: float64

## Замена значений NAN столбца pulse

In [307]:
data_column['pulse'].describe()

count    275.000000
mean      71.934545
std       28.680522
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [308]:
grup_pulse = (data_column.groupby('pain')['pulse'].median())
grup_pulse

pain
1.0    48.0
2.0    78.0
3.0    60.0
4.0    80.0
5.0    89.0
Name: pulse, dtype: float64

In [309]:
data_column['pulse'].fillna(data_column.groupby('pain')['pulse'].transform('median'), inplace=True)
data_column['pulse'].describe()

count    291.000000
mean      72.333333
std       28.074327
min       30.000000
25%       48.000000
50%       65.000000
75%       89.000000
max      184.000000
Name: pulse, dtype: float64

In [310]:
data_column['pulse'].fillna(data_column['pulse'].median(), inplace=True)

In [311]:
data_column['pulse'].describe()

count    299.000000
mean      72.137124
std       27.720282
min       30.000000
25%       48.000000
50%       65.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

## Замена значений NAN столбца respiratory_rate

In [312]:
print(data_column.groupby('pain')['respiratory_rate'].median())

pain
1.0    2.0
2.0    3.2
3.0    2.4
4.0    3.0
5.0    3.0
Name: respiratory_rate, dtype: float64

In [313]:
data_column['respiratory_rate'].describe()

count    241.000000
mean       3.042739
std        1.767826
min        0.800000
25%        1.800000
50%        2.400000
75%        3.600000
max        9.600000
Name: respiratory_rate, dtype: float64

In [314]:
rectal_t_mode = data_column['respiratory_rate'].fillna(data_column['respiratory_rate'].mode()[0], inplace=True)
data_column['respiratory_rate'].describe()

count    299.000000
mean       2.840468
std        1.639365
min        0.800000
25%        2.000000
50%        2.200000
75%        3.450000
max        9.600000
Name: respiratory_rate, dtype: float64

## Замена значений NAN столбца extremities_t

In [315]:
data_column_extremities_t = data_column.groupby('pain')['extremities_t'].median()
print(data_column_extremities_t)

pain
1.0    1.5
2.0    3.0
3.0    2.0
4.0    3.0
5.0    3.0
Name: extremities_t, dtype: float64

In [316]:
data_column['extremities_t'].describe()

count    243.000000
mean       2.345679
std        1.046369
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: extremities_t, dtype: float64

In [317]:
data_column['extremities_t'].fillna(data_column.groupby('pain')['extremities_t'].transform('median'), inplace=True)
data_column['extremities_t'].describe()

count    264.000000
mean       2.367424
std        1.018572
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: extremities_t, dtype: float64

In [318]:
data_column['extremities_t'].apply(np.round)

0      2.0
1      1.0
2      4.0
3      NaN
4      2.0
      ...
294    4.0
295    3.0
296    4.0
297    3.0
298    NaN
Name: extremities_t, Length: 299, dtype: float64

In [319]:
rectal_t_mode = data_column['extremities_t'].fillna(data_column['extremities_t'].mode()[0], inplace=True)
data_column['extremities_t'].describe()

count    299.000000
mean       2.441472
std        0.978332
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: extremities_t, dtype: float64

## Замена значений NAN столбца pain

In [320]:
print(data_column.groupby('extremities_t')['pain'].median())

extremities_t
1.0    3.0
1.5    1.0
2.0    3.0
3.0    3.0
4.0    3.0
Name: pain, dtype: float64

In [322]:
data_column['pain'].describe()

count    244.000000
mean       2.942623
std        1.303993
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [324]:
data_column['pain'].fillna(data_column.groupby('extremities_t')['pain'].transform('median'), inplace=True)
data_column['pain'].describe()

count    299.000000
mean       2.953177
std        1.177736
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [326]:
data_column['pain'].apply(np.round)

0      3.0
1      3.0
2      2.0
3      3.0
4      2.0
      ...
294    2.0
295    4.0
296    4.0
297    3.0
298    3.0
Name: pain, Length: 299, dtype: float64

In [325]:
data_column.dropna()

,surgery,age,rectal_t,pulse,respiratory_rate,extremities_t,pain,outcome
0,1.0,1,39.2,88.0,2.0,2.0,3.0,3.0
1,2.0,1,38.3,40.0,2.4,1.0,3.0,1.0
2,1.0,2,39.1,164.0,8.4,4.0,2.0,2.0
3,2.0,1,37.3,104.0,3.5,3.0,3.0,2.0
4,2.0,1,38.0,78.0,2.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,38.0,120.0,7.0,4.0,2.0,3.0
295,2.0,1,37.2,72.0,2.4,3.0,4.0,3.0
296,1.0,1,37.5,72.0,3.0,4.0,4.0,2.0
297,1.0,1,36.5,100.0,2.4,3.0,3.0,1.0
298,1.0,1,37.2,40.0,2.0,3.0,3.0,3.0